/* tasks */

.task_table_container {
    position: relative;
    overflow: auto;
    height: 300px;
    width: 100%;
}

.task_table {
  width: 40%;
  position: absolute;
  overflow: scroll;
  table-layout: fixed;
  left: 0px;
  top: 0px;
  thead {
    background-color: rgba(34, 34, 34, .8);
    color: #eee;
  }

  th {
    text-align: center;
    width: 180px;
  }
}