/* tasks */

.task_table_container {
    overflow: auto;
}

.task_table {
  thead {
    background-color: rgba(34, 34, 34, .8);
    color: #eee;
  }

  th {
    text-align: center;
  }
}

.task_table .task_date {
  min-width: 35px;
}

.task_table .status {
  min-width: 100px;
}

.task_table .plane_time {
  min-width: 50px;
}

.task_table .done {
  background-color: #f0f0f0;
}

.not_started {
  background-color: #ffeff7;
}

.task_table > tbody > tr > td > .planed_time_field {
  border: none;
  background: none;
}