/* tasks */

.task_table_container {
    position: relative;
    overflow: auto;
}

.task_table {
  position: absolute;
  overflow: scroll;
  left: 0px;
  top: 0px;
  thead {
    background-color: rgba(34, 34, 34, .8);
    color: #eee;
  }

  th {
    text-align: center;
  }
}