.new_task {
  margin: 0;
}

.task_field {
  width: 600px;

  textarea {
    height: 40px;
  }
}

.task_form_button {
  margin-left: 20px;
}

.edit_panel {
  position: absolute;
  float: left;
  width: 600px;
  z-index: 100;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.01);
}